@model lunchPollNet.Models.PollItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PollItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalVoteCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalVoteCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.disabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.disabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
